
.app__container {
  width: 100%;
  min-width: 320px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #eee;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .app__container {
    padding-left: 2px;
    padding-right: 2px;
  }
}
